.backdrop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #222222;
    opacity: 0.8;
    z-index: 100;
}

@media screen and (min-width:769px){
    .backdrop {
        display: none;
    }
}